*.txt
Unisabana.png
*.pem
*.ppk
aidemos/lambda-layers/*
terraform.tfstate*
*.tfstate
terraform-provider*
.terraform.loc*
Quiz*.md
.claude/*
.idea/*
.vscode/*
.obsidian/*
terraform.tfvars
aidemos/exercises/TF_exercise6c2/.terraform.tfstate.lock.info
